/* Navbar */
.navbar {
    background-color: #67A567;
}

.nav-link {
    font-family: sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 14px;

}

.navbar-brand, .nav-link {
    color: white !important;
}

.post-thumb{

}
