/* Navbar */
.navbar {
    background-color: #67A567;
}

.nav-link {
    font-family: sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 14px;
    
}

.navbar-brand, .nav-link {
    color: white !important;   
}

/* ----- Panel ----- */
.card {
    position: fixed;
    right: 40px;
    top : 90px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 350px;
}

.card span {
    font-family: 'Segoe UI';
    font-size: 18px;
}

.card img {
    width: 22px;
    height: 22px;
}


/* ----- Form ----- */
.form-image {
    position: fixed;
    left: 100px;
    top : 200px;
}

.hi-nama {
    position: fixed;
    left: 300px;
    top : 195px;
}